<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"/>
	<title>collective.amberjack.windmill IDE</title>
	
	<link rel="stylesheet" type="text/css" href="css/windmill.css"/>
	<link rel="stylesheet" type="text/css" href="css/superfish.css" media="screen"/>
	<link type="text/css" href="css/smoothness/jquery-ui-1.7.custom.css" rel="stylesheet" />	
	
	<script type='text/javascript' src="js/lib/fleegix_js/fleegix.js"></script>
	<script type="text/javascript" src="js/lib/jquery/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	  jQuery.noConflict();
	</script>
	<script type='text/javascript' src="js/lib/jquery/jquery-ui-1.7.2.custom.min.js"></script>
	<script type='text/javascript' src="js/lib/jquery/ui.progressbar.js"></script>
	<script type="text/javascript" src="js/lib/jquery/hoverIntent.js"></script>
	<script type="text/javascript" src="js/lib/jquery/superfish.js"></script>
	<script type="text/javascript" src="js/lib/jquery/jquery.bgiframe.js"></script>
  <script type="text/javascript" src="js/lib/jquery/jquery.dimensions.js"></script>
  <script type="text/javascript" src="js/lib/jquery/jquery.tooltip.min.js"></script>
  <script type="text/javascript" src="js/tiny_mce/tiny_mce.js"></script>
		<script type="text/javascript">


		  tinyMCE.init({       
 		     mode:"none",
 		     theme : "advanced",
 		     theme_advanced_buttons1:"bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright, justifyfull,separator,bullist,numlist,separator,outdent,indent,separator,formatselect",
 			theme_advanced_buttons2 : "",
 			theme_advanced_buttons3 : "",
 		     theme_advanced_toolbar_location : "top",
 		     theme_advanced_toolbar_align : "left"
 		    });

		    
			jQuery(function(){
			  //tabs
        //jQuery('#tabs').tabs();
        jQuery("#dialog").dialog({
          height: 460,
          width: 410,
          modal:true,
          autoOpen: false,
          overlay: { 
              opacity: 0.5, 
              background: "black" 
          },
          buttons: { 
           "Ok": function() { 
               jQuery(this).dialog("close"); 
           } 
          }
        });


        jQuery("#loadTut").dialog({
            height: 100,
            width: 200,
            modal:true,
            autoOpen: false,
            overlay: { 
                opacity: 0.5, 
                background: "black" 
            }
          });

        jQuery("#saveTut").dialog({
            height: 150,
            width: 250,
            modal:true,
            autoOpen: false,
            overlay: { 
                opacity: 0.5, 
                background: "black" 
            }
          });
        

        jQuery("#whichTut").dialog({
            height: 150,
            width: 250,
            modal:true,
            autoOpen: false,
            overlay: { 
                opacity: 0.5, 
                background: "black" 
            }
          });

        jQuery("#saveRep").dialog({
            height: 150,
            width: 200,
            modal:true,
            autoOpen: false,
            overlay: { 
                opacity: 0.5, 
                background: "black" 
            }
          });

         jQuery("#browseLoad").dialog({
            height: 100,
            width: 250,
            modal:true,
            autoOpen: false,
            overlay: { 
                opacity: 0.5, 
                background: "black" 
            }
          });
        
        
        jQuery('.ui-tabs-nav').bind('tabsshow', function(event, ui) {
          ui.panel.style.height = "95%";
         /* jQuery('ul.sf-menu').superfish({
            speed: 'fast',
            autoArrows:  false,                     
            dropShadows: false
          });*/
        });
    });
	
		 function toggleEditor(id) {
		  if (!tinyMCE.get(id))
		  tinyMCE.execCommand('mceAddControl', false, id);
		  else
		  tinyMCE.execCommand('mceRemoveControl', false, id);
		  };
		  
		  </script>
</head>
<body>
  <!-- logo windmill<img style="position:absolute;" id="icon" src="img/wmIcon.png" alt="Welcome to Windmill!">-->
  
 <!-- <div id="menu" style="position:relative;height:20px;z-index:99;font-size:11px">
    <ul class="sf-menu" style="float:right;">
     			 <li class="current">
     				 <a href="#a">Tutorial Building</a>
     				<ul id="actionDD">
     					<li>
     						<a id="addSuite" href="#aa">New Step</a>
     					</li>
     					<li>
     						<a id="addAction" href="#ab">New Microstep</a>
     					</li>
     					<li>
     						<a id="clearIDE" href="#">Clear IDE</a>
     					</li>
     				</ul> 
     			</li>
     			<li>
     				<a href="#">&nbsp;&nbsp; Tools &nbsp;&nbsp;&nbsp;</a>
     				<ul>
     					<li>
     					  <a href="#" onclick="javascript:openFirebug()">Firebug Lite</a>
     					</li>
     					<li>
     						<a href="#" onclick="javascript:openSettings()">Settings</a>
     					</li>
     				</ul>
     			</li>
     		</ul>
  </div>-->
  <div id="menu" style="position:relative;height:20px;z-index:99;">
  <div id="actionDD">
  
  	  <a href="#" title="Load tutorial">
  		 <img title="Load tutorial" name='Tutload' id="tutLoad" border="no" src="img/loadTut.png" onclick="jQuery('#whichTut').dialog('open');"/>
	  	   </a> 
     		<a href="#aa" title="New step">
			  <img title="New Step" name='newstep' id="addSuite" border="no" src="img/newstep.png" onclick="windmill.ui.incRecSuite();windmill.ui.remote.getSuite(null, true);"/>
		  </a>
		  <a href="#ab" title="New Microstep">
			  <img title="New Microstep" name='newmicrostep' style="display:none;"  id="addAction" border="no" src="img/newmicrostep.png" onclick="windmill.ui.remote.addAction();"/>
		  </a>
		  <a href="#" title="Clear IDE">
			  <img title="Clear IDE" name='clearide' id="clearIDE" border="no" src="img/clearIDE.png" onclick="windmill.ui.remote.clearIDE();"/>
		  </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <a href="#" title="Settings">
			  <img title="Settings" name='settings' id="Settings" border="no" src="img/settings.png" onclick="javascript:openSettings()"/>
		  </a>
		  <a href="#" title="Firebug Lite">
			  <img title="Firebug Lite" name='firebug' style="display:none;"  id="Firebug" border="no" src="img/firebug.png" onclick="javascript:openFirebug()"/>
		  </a>
   </div> 
   </div>
  
  
    <div id="cover">
      <div id="statusMessage">
        <center><div style="font-weight:bold;font-size:14px;" id="loadMessage">Starting Up..</div></center><br/>
        <center><img src="img/loading.gif"/></center>
      </div>
    </div>
    <span style="position:absolute;top:46px;z-index:98"><strong>&nbsp;TITLE: </strong><input id="titTut" type="text" /></span>  
	  <div id="controllers">	 	
		  <a href="#" title="Toggle Recorder">
			  <img title="Toggle Recorder" name='record' 
			    id="record" border="no" src="img/record.png" onclick="toggleRec();"/>
		  </a>

		  <a href="#" title="Play All">
			  <img title="Play All" name='playback' 
			    id="playback" border="no" src="img/playback.png" onclick="togglePlay();"/>
		  </a>

	  	<a href="#" title="Toggle DOM Explorer">
  			<img title="Toggle DOM Explorer" name='explorer'
  			id="explorer" border="no" src="img/xon.png" onclick="toggleExplore();"/>
  		</a>

  		<!--commented  for collective.amberjack.windmill  <a href="#" title="Toggle Assert Explorer">
  			<img title="Toggle Assert Explorer" name='assertx' 
  			id="assertx" border=no src="img/axon.png" onclick="toggleAExplore();">
  		</a>  -->
  			  	   
  			<a href="#" title="Save tutorial">
  		 <img title="Save tutorial" name='Tutsave' id="tutSave" border="no" src="img/saveTut.png" onclick="windmill.ui.remote.savTutorial();"/>
	  	   </a>
  	</div>
	
  	<div id="domExp"></div>
  	<div id="space" style="position:relative;top:18px;height:40px;"></div>
  	   <div id="runningStatus" align="center">
      <br/><br/><br/><br/><br/>
      <center><h2>Loading, Please Wait...</h2></center>
      <center><div id="progressbar"></div></center>
    </div>
  	<div id="sp" style="position:relative;height:40px;border-bottom:1px dotted black"></div>
    <div id="tabs">

      <!-- <ul>
           <li class="ui-tabs-nav-item tabHead"><a href="#actionsTab">Steps</a></li>
          
         <li class="ui-tabs-nav-item tabHead"><a href="#outputTab">Output</a></li>
          <li class="ui-tabs-nav-item tabHead"><a href="#performanceTab">Performance</a></li> 
          
      </ul>-->
   <!-- <div id="actionsTab" style="padding:0px;margin:0px;">  -->  
        <div id="ide" class="tab">
        		<form id="ideForm" name="ideForm" onsubmit="return false;" onscroll="scroll();"></form>
        	</div>
        	  	
     <!--   </div> -->
      
      
    <!--   <div id="outputTab" style="padding:0px;margin:0px;">
        <div class="tab">
          <form id="resOut" onsubmit="return false;"></form>
        </div>
      </div>
      
      
    
      
    <div id="performanceTab" style="padding:0px;margin:0px;">
        <div class="tab">
          <div id="perfOut"></div>
        </div>
      </div>
      -->
    </div>
    
         <div id="whichTut" style="padding-top:0px;margin-top:0px;">
       <p>Where's the tutorial (py or cfg):</p> 
      <center>
      <br/>
        <button type="button" name="LoadLoc" onclick="jQuery('#whichTut').dialog('close');jQuery('#browseLoad').dialog('open');">Local</button>&nbsp;&nbsp;
       <button type="button" name="LoadRep" onclick="jQuery('#whichTut').dialog('close');jQuery('#loadTut').dialog('open');">Repository</button>
     </center>  
     </div>
     
      <div id="browseLoad" style="padding-top:0px;margin-top:0px;">
       <p>Type absolute file path:</p> 
      <center>
      <br/>
        <input type="text" id="filename" name="pathInput" /><br/><br/>
       <button name="DoneBrowse"  onclick="var filename=$('filename').value;if (filename=='') alert('You must insert a path');else {jQuery('#browseLoad').dialog('close');windmill.ui.remote.loadTutorial(filename);}">Done</button>
     </center>  
     </div>
     
     <script type"text/javascript">
     
     
     var catchEnter = function(e){
    	 if (e.keyCode == 13){
     	 var filename=$('filename').value;
    	 if (filename=='') 
        	 alert('You must insert a path');
    	 else{
           jQuery('#browseLoad').dialog('close');
           windmill.ui.remote.loadTutorial(filename);
    	 	}
         }
        };
        fleegix.event.listen($('filename'), 'onkeypress', catchEnter);
     
     </script>
     
    
     <div id="loadTut" style="padding-top:0px;margin-top:0px;">
       <p>Insert the repository url:</p>
       
      <center>
       <input type="text" value="http://"/><br/><br/>
       <button type="button" name="Load" onclick="jQuery('#loadTut').dialog('close');alert('Sorry, this functionality still doesn\'t work')">Load</button>
     </center>  
     </div>
     
     <div id="saveRep" style="padding-top:0px;margin-top:0px;">
       <p>Insert the repository url:</p>
       
      <center>
       <input type="text" value="http://"/><br/><br/>
       <button type="button" name="Save" onclick="jQuery('#saveRep').dialog('close');alert('This functionality still doesn\'t work')">Save</button>
     </center>  
     </div>
     
     
       <div id="saveTut" style="padding-top:0px;margin-top:0px;">
       <p>Where do you want to save?</p><br/>
       <center>
       <button type="button" name="Local" onclick="jQuery('#saveTut').dialog('close');windmill.ui.remote.saveTutorial();">Local</button>
       <button type="button" name="Repository" onclick="jQuery('#saveTut').dialog('close');jQuery('#saveRep').dialog('open');">Repository</button>
     </center>  
     </div>
    
    <div id="dialog" style="padding-top:0px;margin-top:0px;">
      <div id="settings" style="font-size:12px;">
       		<form id='settingsForm' name='settingsForm'>
       			<h3 style="color:#25444e">collective.amberjack.windmill settings</h3>
       		  <strong>System</strong><br/>
       		<table>
       			<!--<tr>
       				<td>Throw JavaScript errors, full debug:</td>
       				<td> <INPUT TYPE=checkbox UNCHECKED ID='throwDebug'></td>
       			</tr>-->
       			<tr>
       				<td>Break on failure:</td>
       				<td> <input type="checkbox" id='toggleBreak' onclick="windmill.ui.toggleBreak();"/></td>
       			</tr>
       			<!--<tr>
       				<td>Suppress Javascript Alerts:</td><td> <INPUT TYPE=checkbox onclick="windmill.ui.updateAlerts()" CHECKED id='jsAlerts'></td>
       			</tr>-->
       		  <tr>
       				<td>Tutorial Save Formatting:</td>
       				<td> 
       					<select id="suiteSaveFormat" name="suiteSaveFormat">
       						<option value="amberjack" selected="selected">amberjack</option>
       						<option value="python">python</option>
       						<option value="javascript">javascript</option>
       					</select>
       				</td>
       			</tr>
       		</table><br/>

       		<strong>IDE/Recorder</strong>
       		<table>
       		    <tr>
       				<td>IDE Interface:</td>
       				<td> 
       					<select id="SimAdvInt" name="interface" onchange='windmill.ui.remote.toggleSimAdv();'>
       						<option value="simple" selected="selected">simple</option>
       						<option value="advanced" >advanced</option>
       					</select>
       				</td>
       			</tr>
       			<tr>
       				<td>Auto Scroll IDE to bottom:</td>
       				<td> <input type="checkbox" checked="checked" id='autoScroll'/></td>
       			</tr>
       			<tr>
       				<td>Absolute click sensitivity when recording:</td>
       				<td><input type="checkbox" checked="checked" id='clickOn'/></td>
       			</tr>
       			<tr>
       				<td>Microstep play button cascades:</td>
       				<td> <input type="checkbox"  id='playCascade'/></td>
       			</tr>
       			<tr>
       				<td>Use XPath only for explorer/recorder:</td>
       				<td> <input type="checkbox"  id='useXpath'/></td>
       			</tr>
       			<tr>
       				<td>Record only absolute XPath's (vs relative):</td>
       				<td> <input type="checkbox"  id='absXpaths'/></td>
       			</tr>
     				<tr>
       				<td>Play microstep by hitting 'return/enter':</td>
       				<td> <input type="checkbox" checked="checked" id='playOnReturn'/></td>
       			</tr>
       			<!--  <tr>
       				<td>DOM Explorer exists on single click (vs double):</td>
       				<td> <INPUT TYPE=checkbox CHECKED ID='domInspectorExit'></td>
       			</tr>-->
       		</table><br/>
          <center>
         		<a id="loopLink" class="ui-state-default ui-corner-all" href="#" style="padding:2px" onclick="toggleLoop();">
         		    Toggle Service Loop
         		</a>&nbsp;
         		<a href="#" class="ui-state-default ui-corner-all" style="padding:2px" onclick="windmill.testWin().document.location.reload()">
         		  Reload Testing Application
         		</a> <!-- <br><br>
         		<a href="#" class="ui-state-default ui-corner-all" style="padding:2px" onclick="dumpOutput();">
         		  Dump Error Log To Output Tab
         		</a> -->
         	</center>
       	</form>
       </div>
      
    </div>
    
       <script type"text/javascript">
     
     
     var catchEnterDial = function(e){
    	 if (e.keyCode == 13){
           jQuery('#dialog').dialog('close');
 			}
        };
        fleegix.event.listen($('dialog'), 'onkeypress', catchEnterDial);
     
     </script>
    	<div style="position:absolute;right:10px;bottom:5px;z-index:99;background:#FFF" id="mouseExp"></div>
</body>
<script type="text/javascript">
  jQuery("#progressbar").progressBar({ width: '120', barImage: '/windmill-serv/img/progressbar/progressbg_black.gif'} );
	
  //function to increment the progress bar if we aren't in IE
  incProgressBar = function(){
    if (typeof progress == "undefined") {
      progress = 10;
    }
    else { progress = progress + 10; }
      if (progress <= 100){
        //Keep it from going over 100%
        jQuery("#progressbar").progressBar(progress);
      }
    }
  
  //define the path to try to pull the compressed JS from
  var path = "/windmill-compressor/windmill.js";
  
  //use document.write to include all the non cooked files
  var noFile = function(s){
    //Double check to make sure we aren't loading windmill src twice
    if (typeof(windmill) != "undefined"){ return; }
    jQuery("#loadMessage").html("Reverting to JavaScript includes..");
    
    //Define all the files to be loaded
    var scriptsArr = [];
    scriptsArr.push('js/lib/browserdetect.js');
    scriptsArr.push('js/lib/firebug/pi.js');
    scriptsArr.push('js/lib/firebug/firebug-lite.js');
    //if (!/Opera[\/\s](\d+\.\d+)/.test(navigator.userAgent)){
    scriptsArr.push('js/lib/json2.js');
    //}
    scriptsArr.push('js/wm/windmill.js');
    scriptsArr.push('js/lib/getXPath.js');
    scriptsArr.push('js/lib/elementslib.js');
    scriptsArr.push('js/lib/js-xpath.js');
    scriptsArr.push('js/controller/controller.js');
    scriptsArr.push('js/controller/commands.js');
    scriptsArr.push('js/controller/asserts.js');
    scriptsArr.push('js/controller/waits.js');
    scriptsArr.push('js/wm/registry.js');
    scriptsArr.push('js/extensions/extensions.js');
    scriptsArr.push('js/wm/utils.js');
    scriptsArr.push('js/wm/ide/ui.js');
    scriptsArr.push('js/wm/ide/recorder.js');
    scriptsArr.push('js/wm/ide/remote.js');
    scriptsArr.push('js/wm/ide/dx.js');
    scriptsArr.push('js/wm/ide/ax.js');
    scriptsArr.push('js/wm/ide/results.js');
    scriptsArr.push('js/wm/xhr.js');
    scriptsArr.push('js/wm/metrics.js');
    scriptsArr.push('js/wm/events.js');
    scriptsArr.push('js/wm/global.js');
    scriptsArr.push('js/wm/jstest.js');
    scriptsArr.push('js/wm/load.js');

    //pull down each script file
    var head = document.getElementsByTagName("head")[0] ||
      document.documentElement;
    for (var i = 0; i < scriptsArr.length; i++){
      var scriptTag = document.createElement('script');
      // In Safari and IE, order-of-loading problems appear if
      // try to just set the src of the appended script
      // Use sync XHR to pull down the source and set
      // it directly as the text in the script node
      // FIXME: Maybe do the sync XHR call with JQuery so
      // there's no need for fleegix.js embedded directly
      // on the page -- I couldn't make it work
      if (fleegix.ua.isSafari || fleegix.ua.isIE) {
        var code = fleegix.xhr.get(scriptsArr[i]);
        if (fleegix.ua.isSafari) {
          scriptTag.appendChild(document.createTextNode(code));
        }
        else {
          scriptTag.text = code;
        }
      }
      // Other browsers settting src works fine
      else {
        scriptTag.src = scriptsArr[i];
      }
      head.appendChild(scriptTag);
    }
  }
  jQuery("#loadMessage").html("Downloading JavaScript Source...");
  incProgressBar();

  if (/Opera[\/\s](\d+\.\d+)/.test(navigator.userAgent)){
    noFile();
  }
  else {
    jQuery.ajax({
      type: "GET",
      url: path,
      dataType: "script",
      error: noFile
    });
  }

  var reFlow = function(){
    if (/MSIE[\/\s](\d+\.\d+)/.test(navigator.userAgent)){
      //document.getElementById('ide').style.height = document.body.clientHeight -70 + "px";
      document.getElementById('ideForm').style.height = document.body.clientHeight -160 + "px";
      //document.getElementById('resOut').style.height = document.body.clientHeight -80 + "px";
      //document.getElementById('perfOut').style.height = document.body.clientHeight -80 + "px";
      //jQuery('.texta').css("width", fleegix.dom.getViewportWidth() - 250+"px");

    }
    else {
      //document.getElementById('ide').style.height = window.innerHeight -70 + "px";
      document.getElementById('ideForm').style.height = window.innerHeight -160 + "px";
      //document.getElementById('resOut').style.height = window.innerHeight -80 + "px";
      //document.getElementById('perfOut').style.height = window.innerHeight -80 + "px";
      //jQuery('.texta').css("width", fleegix.dom.getViewportWidth() - 250+"px");
    }
  }
  jQuery(document).ready(reFlow);
  jQuery(window).resize(reFlow);

</script>

<!-- microstep's template -->
<textarea id="actionButtonsTemplate" style="display:none">
  &lt;ul id="btns" class="ui-widget ui-helper-clearfix"&gt;
    &lt;li class="ui-state-default ui-corner-all ui-state-hover" id="<%= id %>playMic" onclick="windmill.ui.playback.sendPlayBack('<%= id %>')" title="Play this microstep"&gt;
     &lt;span class="ui-icon ui-icon-circle-triangle-e"/&gt;
    &lt;/li&gt;
    &lt;li class="ui-state-default ui-corner-all ui-state-hover" id="<%= id %>cancell" onclick="windmill.ui.remote.deleteAction('<%= id %>')" src="img/trash.png" title="Delete this microstep"&gt;
     &lt;span class="ui-icon ui-icon-trash"/&gt;
    &lt;/li&gt;
    &lt;li class="ui-state-default ui-corner-all ui-state-hover" id="<%= id %>aggSopra" onclick="windmill.ui.remote.addActionAbove('<%= id %>')" title="Add a new microstep above"&gt;
     &lt;span class="ui-icon ui-icon-arrowstop-1-n"/&gt;
    &lt;/li&gt;
    &lt;li class="ui-state-default ui-corner-all ui-state-hover" id="<%= id %>aggSotto" onclick="windmill.ui.remote.addActionBelow('<%= id %>')" title="Add a new microstep below"&gt;
     &lt;span class="ui-icon ui-icon-arrowstop-1-s"/&gt;
    &lt;/li&gt;
    &lt;li class="ui-state-default ui-corner-all ui-state-hover" id="<%= id %>interface" onclick="windmill.ui.remote.toggleSimAdv('<%= id %>');" title="<%= interf %>"&gt;
     <%= interf %>
     &lt;/li&gt;
  &lt;/ul&gt;
</textarea>


<!-- step's template -->
<textarea id="suiteHeaderTemplate" style="display:none">
   &lt;table id="<%= suiteName %>Header" class="suiteHeader"&gt;
      &lt;tr&gt;
      &lt;td VALIGN='top' style="font-size:13px;"&gt;
         &lt;strong ondblclick="windmill.ui.remote.updateSuite('<%= suiteName %>');" style="cursor: pointer; cursor: hand;"&gt;Step &lt;/strong&gt;
          &lt;span class="suiteTitleDiv" title="<%= suiteName %>" style="cursor: pointer; cursor: hand;" ondblclick="windmill.ui.remote.updateSuite('<%= suiteName %>');" id="<%= suiteName %>Title"&gt;
            <%= suiteNameCrop %>
          &lt;/span&gt;
        &lt;/td&gt;
        &lt;td VALIGN='top'&gt;
          &lt;span id="<%= suiteName %>Links" align="right" style="top:0px;float:right;height:15px;overflow:hidden;"&gt;
            &lt;a title="Play entire step." class="ui-state-default ui-corner-all suiteButton" href="#" onclick="windmill.ui.playback.sendPlayBack(null,'<%= suiteName %>')"&gt;play&lt;/a&gt;
            &lt;a title="Save this step." class="ui-state-default ui-corner-all suiteButton" href="#" onclick="windmill.ui.remote.saveSuite('<%= suiteName %>')"&gt;save&lt;/a&gt;
            &lt;a title="Delete step." class="ui-state-default ui-corner-all suiteButton" href="#" onclick="windmill.ui.remote.deleteAction('<%= suiteName %>')"&gt;delete&lt;/a&gt;
            &lt;a id="<%= suiteName %>Toggle" title="Toggle show/hide." class="ui-state-default ui-corner-all suiteButton" href="#" onclick="javascript:windmill.ui.toggleCollapse('<%= suiteName %>')"&gt;hide&lt;/a&gt;
            &lt;a title="Select this step." class="ui-state-default ui-corner-all suiteButton" href="#" onclick="windmill.ui.currentSuite='<%= suiteName %>'"&gt;select&lt;/a&gt;
          &lt;/span&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;&lt;/tr&gt;
       &lt;tr&gt;
       &lt;td colspan="2"&gt;
       &lt;span&gt;&lt;strong&gt;url:&nbsp;&lt;/strong&gt;&lt;input type="text" size="52" id="<%= suiteName %>Url"/&gt;&lt;/span&gt;&nbsp;&nbsp;&lt;span  onclick="windmill.ui.playback.sendPlayBack('<%= suiteName %>Url','<%= suiteName %>')" style="cursor: pointer; cursor: hand;" class="ui-state-default ui-corner-all ui-state-hover"&gt;&nbsp;Go&nbsp;&lt;/span&gt;
       &lt;/td&gt;
       &lt;/tr&gt;
       &lt;tr&gt;
       &lt;td colspan="2"&gt;
       &lt;textarea style="width:100%;position:relative;left:2px;" title="Step description" class="descStep" id="<%= suiteName %>descStep"&gt;&lt;/textarea&gt; 
    &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;&lt;/tr&gt;
    &lt;/table&gt; 
</textarea>
</html>

